<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Mi Empresa</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <h1>Jairo Flores SL</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html" class="active">Contacto</a></li>
            </ul>
        </nav>
    </header>
 
    <main>
        <div class="map-container">
            <div id="map"></div>
        </div>

        <p>Dirección: Calle Falsa 123, Plaza España</p>
        <p>Teléfono: 123456789</p>
        <p>Correo electrónico: contacto@miempresa.com</p>
    </main>
    
    <footer>
        <p>&copy; 2024 Mi Empresa</p>
        <div class="social-media">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </div>
        <p>Dirección de la empresa</p>
        <p>Aviso legal</p>
    </footer>
    
    <!-- JavaScript -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="../js/contacto.js"></script>
       
</body>
</html>

